  .color{
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: -2px;
    border: black solid 1px;
  }

  #color-palette li:nth-of-type(1) {
    background-color:black;
  }

  #color-palette li:nth-of-type(2) {
    background-color:#006dfb;
  }
  
  #color-palette li:nth-of-type(3) {
    background-color: #41197f;
  }

  #color-palette li:nth-of-type(4) {
    background-color: red;
  }

  #pixel-board {
    margin-left: 130px;
  }

  .pixel {
    width: 40px;
    height: 40px;
    display: inline-block;
    border: solid black 1px;
    background-color: white;
    box-sizing: border-box;
  }
